.vscode
__pycache__
*.egg-info
.coverage*
htmlcov
.tox
build
dist
examples/*/
experitur/examples/*/
examples/.bash_history
experiments/*.csv
experitur/examples/*/
travis.log
pip-wheel-metadata/
.mypy_cache/
docs/inventory/
examples/simple.csv
examples/simple.txt
experiments/*/
coverage.xml
.venv/
